#wrap{
    width: 100%;
    #signup {
        width: 100%;
        padding: 100px 0;
        .container {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;
            background: #f0f0f0;  
            padding:50px;          
            .title {
                width: 100%;
                text-align: center;
                padding: 0 0 60px 0;
                h2{
                    font-size: 28px;
                    font-weight: 500;
                    color:#39c;
                }
            }
            .content {
                width: 100%;
                form {
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            width: 100%;
                            padding: 5px 0;
                            text-align: center;
                            input {
                                width:100%;
                                height: 50px;
                                border:1px solid #ddd;
                                background: #fff;
                                outline-offset: -1px;
                                transition: all 0.3s;
                                font-size: 15px;
                                padding:0 15px;
                                border-radius: 3px;
                                &:focus {
                                    outline: 1px solid #888;
                                }
                                &[type='radio']{
                                    width:20px;
                                    height:20px;
                                    margin: 0 5px 0 10px;
                                    outline: 0;
                                    cursor: pointer;
                                }
                            }
                            label {
                                font-size: 15px;  
                                cursor: pointer;                              
                            }
                        }
                    }
                    .submit{
                        padding: 50px 0 0 0;
                        text-align: center;
                        button {
                            width:200px;
                            height: 50px;
                            font-size: 17px;
                            font-weight: 600;
                            background:#39c;
                            color:#fff;
                            border:0;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}