#wrap{
    width: 100%;
    #sub1{
        width: 100%;
        #section1{
            width: 100%;
            padding: 0 0 70px 0;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        a{
                            display: block;
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        padding: 0 0 60px 0;
                        text-align: center;
                        h2{
                            font-size: 28px;
                            color: #333;    
                            font-weight: 600;                     
                        }
                    }
                    .content{
                        width: 100%;
                        display: flex;
                        .left{
                            position: sticky;
                            top: 80px;
                            left: 0;
                            width: 262.5px;
                            padding: 0 50px 0 0;
                            height: 100vh;
                            overflow-y: auto; // 수직스크롤바 오버시에 생김
                            //스크롤바 디자인
                            &::-webkit-scrollbar{
                                width: 0;

                            }
                            &::-webkit-scrollbar-track{
                                background-color: #fff;
                            }
                            &::-webkit-scrollbar-thumb{
                                background-color: #5f0080;
                            }
                            .left-title{
                                width: 100%;
                                padding: 0 0 18px 0;
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid #ddd;
                                strong{}
                                span{
                                    img{}
                                    em{}
                                }
                            }
                            .left-content{
                               padding: 10px 0 0 0;
                                div{
                                    >a{ //카테코리 버튼
                                        height: 52px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        font-weight: 600;
                                        span{
                                            font-size: 15px;
                                            color: #333;
                                            font-weight: 600;
                                        }
                                        img{
                                            width: 18px;
                                            transition: all 0.3s;
                                        }
                                        &.on{
                                            img{
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                    .sub{
                                        width: 100%;
                                        display: block;
                                        transition: all 0.3s;
                                        background: #fff;
                                        overflow: hidden;
                                        ul{
                                            width: 100%;
                                            li{
                                                width: 100%;
                                                padding: 8px 0;
                                                label{
                                                    width: 100%;
                                                    color: #333;
                                                    font-size: 14px;
                                                    font-weight: 600;
                                                    transition: all 0.3s;
                                                    cursor: pointer;
                                                    &:hover{
                                                        color: #5f0080;
                                                    }
                                                    input[type='checkbox']{
                                                        width: 18px;
                                                        height: 18px;
                                                        margin: 0 10px 0 0;
                                                        appearance: none;
                                                        border: 0;
                                                        border-radius: 50%;
                                                        background: url(../../../../public/images/sub1/ico_check_off.svg);
                                                        &:checked{
                                                            background-image: url(../../../../public/images/sub1/ico_check_on.svg);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .right{
                            width: 262.5px*3;
                            .right-title{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                padding: 0 0 15px 0;
                                strong{
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #333;
                                }
                                >span{
                                    font-size: 14px;
                                    letter-spacing: -2px;
                                    display: flex;
                                    a{
                                        color: #999;
                                        img{
                                          width: auto;
                                        }
                                        &.on{
                                            font-weight: 600;
                                            color: #333;
                                        }
                                    }
                                    i{
                                        font-size: 12px;
                                        color: #ccc;
                                        margin: 0 3px;
                                    }
                                }
                            }
                            .right-content{
                                width: 100%;
                                >ul{
                                    width: 100%;
                                    display: flex;
                                   
                                    flex-flow: row wrap;
                                    >li{
                                        width: 250px;
                                        padding: 0 0 90px 0;
                                        margin: 0 5px;
                                        >a{
                                            .img-box{
                                                width: 100%;
                                                height: 320px;
                                                overflow: hidden;
                                                >img{
                                                    width: 100%;
                                                    transition: all 0.6s;
                                                }
                                                span{
                                                    img{}
                                                }
                                            }
                                            &:hover{
                                                .img-box{
                                                    >img{
                                                        transform: scale(1.03);
                                                    }
                                                }
                                            }
                                            .tit-box{
                                                width: 100%;
                                                ul{
                                                    width: 100%;
                                                    padding: 15px 0 0 0;
                                                    li{
                                                        width: 100%;
                                                        padding: 5px 0;
                                                        &:nth-child(1){
                                                            font-size: 14px;
                                                            color: #999;
                                                        }
                                                        &:nth-child(3){
                                                            font-size: 12px;
                                                            color: #999;
                                                        }
                                                        &:last-child{
                                                            font-size: 12px;
                                                            color: #5f0080;
                                                            font-weight: 500;
                                                        }
                                                        strong,em{
                                                            font-size: 16px;
                                                            color: #333;
                                                            font-weight: 600;
                                                        }
                                                        span{
                                                            &.rate-price{
                                                                color: #fa622f;
                                                                font-size: 16px;
                                                                font-weight: 800;
                                                            }
                                                            &.panme-price{
                                                                color: #333;
                                                                font-size: 16px;
                                                                font-weight: 800;
                                                            }
                                                        }
                                                        s{
                                                            font-size: 14px;
                                                            color: #999;
                                                        }
                                                        
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .page-button-box{
                                    margin: 0 0 30px 0;
                                    width:100%;
                                    height: 50px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    a {
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        width:30px;
                                        height:30px;
                                        color:#333;
                                        font-size: 14px;
                                        border:1px solid #ccc;
                                        background: #fff;
                                        margin: 0 5px;
                                        &.on{ // 현재 클릭된 버튼   
                                            background-color: #5f0080;
                                            border-color:  #5f0080;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}