#cart {
  width: 100%;
  padding: 70px 0 100px 0;
}
#cart .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#cart .container .gap {
  width: 100%;
}
#cart .container .gap .title {
  width: 100%;
  padding: 0 0 70px 0;
}
#cart .container .gap .title h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  font-weight: bold;
  letter-spacing: -1.5px;
  line-height: 35px;
}
#cart .container .gap .content {
  width: 100%;
  display: flex;
  position: relative;
}
#cart .container .gap .content .left {
  width: 740px;
}
#cart .container .gap .content .left > ul {
  width: 100%;
}
#cart .container .gap .content .left > ul > li {
  width: 100%;
}
#cart .container .gap .content .left > ul > li:first-child > span button, #cart .container .gap .content .left > ul > li:last-child > span button {
  display: inline-flex;
  align-items: center;
  border: 0;
  height: 30px;
  background: transparent;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
#cart .container .gap .content .left > ul > li:first-child > span button:first-of-type, #cart .container .gap .content .left > ul > li:last-child > span button:first-of-type {
  padding: 0 0 0 35px;
  background: transparent url(../../../../public/images/cart/checkbox_off_icon.svg) no-repeat 0 50%;
  background-size: 24px 24px;
  cursor: auto;
}
#cart .container .gap .content .left > ul > li:first-child > span button:first-of-type strong, #cart .container .gap .content .left > ul > li:last-child > span button:first-of-type strong {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 0 0 0 3px;
}
#cart .container .gap .content .left > ul > li:first-child > span button:last-of-type, #cart .container .gap .content .left > ul > li:last-child > span button:last-of-type {
  cursor: auto;
}
#cart .container .gap .content .left > ul > li:first-child > span button:last-of-type.on, #cart .container .gap .content .left > ul > li:last-child > span button:last-of-type.on {
  cursor: pointer;
}
#cart .container .gap .content .left > ul > li:first-child > span button.on:first-of-type, #cart .container .gap .content .left > ul > li:last-child > span button.on:first-of-type {
  background-image: url(../../../../public/images/cart/checkbox_on_icon.svg);
}
#cart .container .gap .content .left > ul > li:first-child > span > i, #cart .container .gap .content .left > ul > li:last-child > span > i {
  color: #bbb;
  font-weight: 400;
  font-size: 12px;
  margin: 0 15px;
}
#cart .container .gap .content .left > ul > li:first-child {
  padding: 0 0 15px 0;
}
#cart .container .gap .content .left > ul > li:nth-child(2) {
  width: 100%;
}
#cart .container .gap .content .left > ul > li:nth-child(2) p.empty-box {
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background: #fff;
  color: #ccc;
  font-size: 15px;
  font-weight: 600;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div {
  overflow: hidden;
  width: 100%;
  transition: all 0.3s;
  background: #fff;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl {
  width: 100%;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div {
  padding: 15px 0;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:first-child {
  display: flex;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:first-child img {
  width: 30px;
  margin: 0 5px 0 0;
  transition: all 0.8s;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:first-child img.on {
  transform: rotate(720deg);
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:first-child h3 {
  width: 70px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  letter-spacing: -1.5px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:last-child button {
  background: none;
  border: 0;
  cursor: pointer;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:last-child button img {
  width: 30px;
  transition: all 0.3s;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dt > div:last-child button img.on {
  transform: rotate(180deg);
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd.on {
  display: none;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul {
  display: flex;
  align-items: center;
  height: 78px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:first-child {
  width: 40px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:first-child input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../../../../public/images/cart/checkbox_off_icon.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:first-child input[type=checkbox]:checked {
  background: url(../../../../public/images/cart/checkbox_on_icon.svg) no-repeat 50% 50%;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(2) {
  width: 60px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(2) span {
  display: block;
  width: 60px;
  height: 78px;
  background: url(../../../../public/images/cart/165708868919l0.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(3) {
  width: 388px;
  padding: 0 0 0 15px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(3) a {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) {
  width: 88px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) div {
  width: 88px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) div button {
  width: 33.333%;
  height: 28px;
  border: 0;
  background: none;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) div button:first-of-type {
  background: url(../../../../public/images/cart/sub_icon.svg) no-repeat 50% 50%;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) div button:last-of-type {
  background: url(../../../../public/images/cart/add_iconsvg.svg) no-repeat 50% 50%;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(4) div strong {
  width: 33.333%;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(5) {
  width: 127px;
  text-align: right;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(5) span {
  color: #555;
  font-weight: 600;
  font-size: 16px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(6) {
  width: 39px;
  padding: 0 0 0 9px;
}
#cart .container .gap .content .left > ul > li:nth-child(2) > div > dl dd ul li:nth-child(6) a {
  display: flex;
  width: 30px;
  height: 30px;
  background: url(../../../../public/images/cart/delete_icon.svg) no-repeat 50% 50%;
}
#cart .container .gap .content .right {
  width: 310px;
  padding: 45px 0 0 26px;
  position: sticky;
  top: 70px;
  height: auto;
  overflow-y: auto;
  left: 0;
}
#cart .container .gap .content .right > ul > li:first-child {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 23px 19px 20px 19px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 160%;
}
#cart .container .gap .content .right > ul > li:first-child > h3 {
  padding: 0 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
#cart .container .gap .content .right > ul > li:first-child > h3 > img {
  vertical-align: middle;
  transform: translateY(-3px);
  margin: 0 5px 0 0;
}
#cart .container .gap .content .right > ul > li:first-child p {
  padding: 0 0 15px 0;
}
#cart .container .gap .content .right > ul > li:first-child p em {
  color: #5f0080;
}
#cart .container .gap .content .right > ul > li:first-child button {
  width: 100%;
  height: 38px;
  font-size: 12px;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  background: #fff;
  padding: 2.5px 10px 0 0;
}
#cart .container .gap .content .right > ul > li:first-child button > img {
  width: auto;
  transform: translateY(-1.5px);
}
#cart .container .gap .content .right > ul > li:nth-child(2) {
  background: #fafafa;
  padding: 23px 19px 20px 19px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div {
  line-height: 180%;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row1 {
  width: 100%;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row1 p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #333;
  flex-flow: row wrap;
  padding: 7px 0;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row1 p strong:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.5px;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row1 p strong:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row1 p span {
  width: 100%;
  display: block;
  text-align: right;
  padding: 5px 0 10px 0;
  font-size: 12px;
  color: #666;
  letter-spacing: -1px;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 {
  width: 100%;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  color: #333;
  flex-flow: row wrap;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p strong {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p:nth-child(1) strong:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p:nth-child(2) {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  line-height: normal;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p:nth-child(2) strong {
  font-size: 12px;
  display: flex;
  align-items: center;
}
#cart .container .gap .content .right > ul > li:nth-child(2) div.row2 p:nth-child(2) strong em {
  display: inline-flex;
  align-items: center;
  padding: 3px 8px;
  border-radius: 11px;
  background: #ffbf00;
  margin: 0 5px 0 0;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
}
#cart .container .gap .content .right > ul > li:last-child {
  background: #fff;
  padding: 23px 0 20px 0;
}
#cart .container .gap .content .right > ul > li:last-child button {
  height: 56px;
  width: 100%;
  background: #ddd;
  border: 0;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
}
#cart .container .gap .content .right > ul > li:last-child p {
  padding: 20px 5px;
  line-height: 160%;
  font-size: 12px;
  color: #666;
  letter-spacing: -1px;
}