#goTop {
  position: fixed;
  width: 58px;
  height: 58px;
  bottom: -60px;
  right: 40px;
  z-index: 4;
  transition: all 0.2s;
}
#goTop a {
  width: 100%;
  display: inline-block;
}
#goTop a img {
  width: 100%;
}