
.section-link-image{
            width: 100%;
            padding: 40px 0;
            .container{
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        a{
                            width: 100%;
                            display: block;
                            img{
                             
                                width: 100%;
                            }
                        }
                    }
                }
            }
}
