<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>뷰 템플릿 웹문서 입니다.</h1>
    <h2>{{userName}}님 반갑습니다. 로그인 되었습니다.</h2>
    <a href="/logout.do">로그아웃</a>
</body>
</html>