<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마켓컬리 회원가입 정보</title>
</head>
<body>

    <div id="wrap">
        <div class="container">
            <div class="title">
                <h1>마켓컬리 회원가입 정보</h1>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>비밀번호확인</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>휴대폰</th>
                        <th>주소</th>
                        <th>성별</th>
                        <th>생년월일</th>
                        <th>추가입력 사항</th>
                        <th>이용약관동의</th>
                    </tr>
                    <tr>
                        <td>212qkrthdus</td>
                        <td>qkrthdus212</td>
                        <td>qkrthdus212</td>
                        <td>박소연</td>
                        <td>212psy@naver.com</td>
                        <td>010-2701-8808</td>
                        <td>파주</td>
                        <td>여자</td>
                        <td>980317</td>
                        <td>24시간 세일</td>
                        <td>이용약관동의 필수 동의</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>